@model ERecarga.DAL.FillStationTimeBreak

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Intervalo da Estação</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.FillStation.Name)*@
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillStation.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.TimeBreak.TimeBreakId)*@
            @Html.DisplayName("Id de Intervalo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TimeBreak.Begin)
            às
            @Html.DisplayFor(model => model.TimeBreak.End)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
