@model ERecarga.DAL.Promotion

@{
    ViewBag.Title = "Delete";
}

<h2>Apagar</h2>

<h3>Tem a certeza que quer apagar?</h3>
<div>
    <h4>Promoção</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillStation.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            @Html.DisplayName("Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PromotionStart)*@
            @Html.DisplayName("Inicio de Promoção")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionStart)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PromotionEnd)*@
            @Html.DisplayName("Fim de Promoção")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionEnd)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Apagar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
