@model ERecarga.DAL.Promotion

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Promoção</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.FillStation.Name)*@
            @Html.DisplayName("Nome")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FillStation.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.Price)*@
            @Html.DisplayName("Preço")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PromotionStart)*@
            @Html.DisplayName("Inicio de Promoção")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionStart)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PromotionEnd)*@
            @Html.DisplayName("Fim de Promoção")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PromotionEnd)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>
