@using PagedList
@using PagedList.Mvc
@model PagedList<ERecarga.DAL.Promotion>

@{
    ViewBag.Title = "Index";
}

<h2>Promoções</h2>

<p>
    @Html.ActionLink("Criar Novas", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.First().FillStation.Name)*@
            @Html.DisplayName("Nome")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().Price)*@
            @Html.DisplayName("Preço")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().PromotionStart)*@
            @Html.DisplayName("Inicio de Promoção")
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.First().PromotionEnd)*@
            @Html.DisplayName("Fim de Promoção")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FillStation.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PromotionEnd)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.Id }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))