@using PagedList
@using PagedList.Mvc
@model PagedList<ERecarga.DAL.FillStation>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    @using (Html.BeginForm("Index", "FillStation", FormMethod.Post))
    {

        <div class="form-inline">
            <label>Filtrar por Nome</label> &nbsp
            <div class="form-group">
                @Html.TextBox("procura", null, new
                {
                    @class = "form-control",
                    @placeholder = "Estação"
                })
            </div>
            <label>Filtrar por Região</label> &nbsp
            <div class="form-group">
                @Html.DropDownList("regiao", new SelectList(ViewBag.ListRegions, "Value", "Text"), htmlAttributes: new { @class = "form-control" })
            </div>
            <div class="form-group">
                &nbsp <button type="submit" class="btn btn-info">Filtrar</button>
            </div>
        </div>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Station.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.First().Open)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Station.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Open)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, pagina => Url.Action("Create", new { pagina }))
