<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Recarga - @ViewBag.Title</title>
    <link href="~/Content/icon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("E-Recarga", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    @if (User.IsInRole("Admin"))
                    {

                        <li>@Html.ActionLink("Regiões", "Index", "Region")</li>
                        <li>@Html.ActionLink("Intervalos de Tempo", "Index", "TimeBreak")</li>

                    }

                    @if (User.IsInRole("Owner"))
                    {
                        <li>@Html.ActionLink("Estações", "Index", "Station")</li>
                        <li>@Html.ActionLink("Postos", "Index", "FillStation")</li>
                        <li>@Html.ActionLink("Promoções", "Index", "Promotions")</li>
                        <li>@Html.ActionLink("Intervalos por Estação", "Index", "FillStationTimeBreak")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
