@model ERecarga.DAL.TimeBreak

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Intervalo de Tempo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Begin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Begin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.End)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.End)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.TimeBreakId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
