@model IEnumerable<ERecarga.DAL.TimeBreak>

@{
    ViewBag.Title = "Horas";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayNameFor(model => model.Begin)*@
            Horas definidas
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            Das @Html.DisplayFor(modelItem => item.Begin)h ás @Html.DisplayFor(modelItem => item.End)h
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.TimeBreakId }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.TimeBreakId }) |
            @Html.ActionLink("Apagar", "Delete", new { id=item.TimeBreakId })
        </td>
    </tr>
}

</table>
