@model IEnumerable<ERecarga.DAL.FillStationTimeBreak>

@{
    ViewBag.Title = "Nova Reserva";
}

<h2>Nova Reserva</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FillStation.Station.Region.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillStation.Station.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FillStation.Name)
        </th>
        <th>
            Horário
        </th>
        <th>
            Dia de Reserva
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <td>
                    @Html.DisplayFor(modelItem => item.FillStation.Station.Region.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FillStation.Station.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FillStation.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TimeBreak.Begin)
                    Às
                    @Html.DisplayFor(modelItem => item.TimeBreak.End)
                </td>
                <td>
                    <div class="form-group">
                        <input type="date" name="submitdate" min=@DateTime.Now.Date.AddDays(1) class = "form-control">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Reservar" class="btn btn-primary" />
                        </div>
                    </div>
                </td>
            }
        </tr>
    }

</table>

