@model ERecarga.Models.ApplicationUser

@{
    ViewBag.Title = "Details";
}

<h2>Detalhes.</h2>

<div>
    <h4>Utilizador</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @*@Html.DisplayNameFor(model => model.UserName)*@
            @Html.DisplayName("Nome de Utilizador")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>Quantidade €:</dt>
        <dd>@ViewBag.quant</dd>
        <dt>NIB:</dt>
        <dd>@ViewBag.NIB</dd>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <hr />
            <p>Não foram encontradas Roles para este utilizador</p>
        }
        <dt>Role:</dt>
        <dd>
            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                        
                    </td>
                </tr>
            }
            </dd>

    </dl>
</div>
@*<h4>List of roles for this user</h4>
@if (ViewBag.RoleNames.Count == 0)
{
    <hr />
    <p>No roles found for this user.</p>
}

<table class="table">

    @foreach (var item in ViewBag.RoleNames)
    {
        <tr>
            <td>
                @item
            </td>
        </tr>
    }
</table>
<p>*@
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Voltar", "Index")
</p>



