@using PagedList
@using PagedList.Mvc
@model PagedList<ERecarga.DAL.Region>

@{
    ViewBag.Title = "Index";
}

<h2>Regiões</h2>

<p>
    @Html.ActionLink("Criar Nova", "Create")
    @using (Html.BeginForm("Index", "Region", FormMethod.Post))
    {

    <div class="form-inline">
        <label>Filtrar por Região</label> &nbsp
        <div class="form-group">
            @Html.TextBox("procura", null, new
            {
                @class = "form-control",
                @placeholder = "Região"
            })
        </div>
        <div class="form-group">
            &nbsp <button type="submit" class="btn btn-info">Filtrar</button>
        </div>
    </div>

    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.First().Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.ActionLink("Editar", "Edit", new { id = item.RegionId }) |
                @Html.ActionLink("Detalhes", "Details", new { id = item.RegionId }) |
                @Html.ActionLink("Apagar", "Delete", new { id = item.RegionId })
            </td>
        </tr>
    }

</table>
@Html.PagedListPager(Model, pagina => Url.Action("Index", new { pagina }))